<!-- Title page -->
<section class="bg-img-1 bg-overlay-3 p-t-93 p-b-95" style="background-image: url('/assets/images/bg-title-01.jpg');">
  <div class="container">
    <div class="flex-w flex-sb-m">
      <div class="p-t-10 p-b-10 p-r-30">
        <div class="flex-w p-b-9">
          <span>
            <a href="index-2.html" class="s-txt19 hov-color-main trans-02">
              <i class="fa fa-home"></i>
              Acceuil
            </a>
            <span class="s-txt19 p-l-6 p-r-9">/</span>
          </span>

          <span>
            <a href="course-grid.html" class="s-txt19 hov-color-main trans-02">
              Offres
            </a>
            <span class="s-txt19 p-l-6 p-r-9">/</span>
          </span>


        </div>

        <h2 class="m-txt6 respon1">
          {{offre.nom_offre}}
        </h2>
      </div>

      <div class="p-t-10 p-b-10">
        <!-- Button 
        <a href="#" class="btn-drive size1 m-txt1 bg-main bo-rad-4 trans-03">
          Book Lesson
          <i class="fa fa-chevron-right m-l-9 fs-14" aria-hidden="true"></i>
        </a>-->
      </div>
    </div>
  </div>
</section>

<!-- Content -->
<section class="bgwhite p-t-80 p-b-75">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-lg-9 m-lr-auto p-b-50">
        <div class="p-r-20 p-r-0-md">
          <div class="bo2">
            <div class="wrap-pic-w bo2-b">
              <img src="/assets/images/gallery-02.jpg" alt="IMG-COURSE">
            </div>

            <div class="p-l-38 p-r-38 p-t-30 p-b-18 p-lr-15-sm">
              <!--  -->
              <div class="flex-sb-m p-b-12">
                <span class="s-txt5">
                  Driving, Road Signs
                </span>
                <span class="color1 fs-12">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </span>
              </div>
              
              <!--  -->
              <h4 class="m-txt25 p-b-22">
                {{offre.nom_offre}}
              </h4>
              
              <!--  -->
              <div class="p-b-5">
                <span class="s-txt25">
                  Dates disponibles:  
                </span>

                <span class="s-txt2">
                  {{offre.date_debut}}, {{offre.date_fin}}
                </span>
              </div>

              <div class="p-b-28">
                <span class="s-txt25">
                  Locations:
                </span>

                <span class="s-txt2">
                  Sousse
                </span>
              </div>
              
              <!--  -->
              <p class="s-txt2 p-b-24">
                  {{offre.description}}
             </p>
    
              <ul class="list-01 p-b-32">
                <li class="p-b-6">	
                  <span class="s-txt2">
                      Sortir et retourner sur le bord de la route
                  </span>
                </li>

                <li class="p-b-6">
                  <span class="s-txt2">
                      Conduire sur la route
                  </span>
                </li>

                <li class="p-b-6">
                  <span class="s-txt2">
                      Connaître vos angles morts
                  </span>
                </li>

                <li class="p-b-6">
                  <span class="s-txt2">
                      Scanner les dangers
                  </span>
                </li>

                <li class="p-b-6">
                  <span class="s-txt2">
                      Caler la voiture (manuel)
                  </span>
                </li>

                <li class="p-b-6">
                  <span class="s-txt2">
                      Passages à niveau
                  </span>
                </li>

                <li class="p-b-6">
                  <span class="s-txt2">
                      Traverser un passage à niveau
                  </span>
                </li>
              </ul>	
              
              <!--  -->
              <div class="m-txt26 p-b-5">
                $100
              </div>
              
              <!--  -->
              <div class="flex-w flex-sb-m">
                <div class="flex-w p-t-10 p-b-10 p-r-30">
                  <div class="m-r-8 m-t-4 m-b-4">
                    <!-- Button <a href="#" class="btn-drive m-txt1 size3 bg-main hov-color-white bo-rad-4">
                      Book now
                    </a> -->
                    
                  </div>

                  <div class="m-t-4 m-b-4">
                    <!-- Button <a href="#" class="btn-drive m-txt10 size19 bo3 bg1 hov-color-white bo-rad-4">
                      Watch Video
                    </a> -->
                    
                  </div>
                </div>

                <div class="flex-w flex-m p-t-10 p-b-10 rs1-share-item">
                  <span class="s-txt26 p-r-17 m-t-4 m-b-4">
                    Partager
                  </span>

                  <a href="#" class="flex-c-m bg1 size14 bo-rad-3 bo2 color7 hov-bg-main hov-color-white trans-03 m-r-5 m-t-4 m-b-4">
                    <i class="fa fa-facebook fs-18"></i>
                  </a>

                  <a href="#" class="flex-c-m bg1 size14 bo-rad-3 bo2 color7 hov-bg-main hov-color-white trans-03 m-r-5 m-t-4 m-b-4">
                    <i class="fa fa-twitter fs-18"></i>
                  </a>

                  <a href="#" class="flex-c-m bg1 size14 bo-rad-3 bo2 color7 hov-bg-main hov-color-white trans-03 m-r-5 m-t-4 m-b-4">
                    <i class="fa fa-google-plus fs-18"></i>
                  </a>

                  <a href="#" class="flex-c-m bg1 size14 bo-rad-3 bo2 color7 hov-bg-main hov-color-white trans-03 m-r-5 m-t-4 m-b-4">
                    <i class="fa fa-linkedin fs-18"></i>
                  </a>

                  <a href="#" class="flex-c-m bg1 size14 bo-rad-3 bo2 color7 hov-bg-main hov-color-white trans-03 m-t-4 m-b-4">
                    <i class="fa fa-plus fs-18"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>	
      </div>

      
    </div>
  </div>
</section>


<!-- CTA 1 <div class="bg-main p-t-30 p-b-30">
  <div class="container">
    <div class="content-cta-1 flex-sb-m flex-w">
      <span class="m-txt17 p-t-15 p-b-15">
        Looking for a first-class driving?
      </span>

      <div class="wrap-btn-cta">
         Button -->
       <!-- <a href="#" class="btn-drive rs1-btn size5 m-txt2 bgwhite bo-rad-4 trans-03">
            Get A Free Quote
          </a>
        </div>
      </div>
    </div>
  </div>-->
