
<div class="form-group">
    <hr>
      <label class="tp-caption tp-resizeme txt1 txt-center " style ="color: darkgoldenrod;">Ajouter Candidats </label>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="nom" placeholder="Nom" required>
    </div>
    <br>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="prenom" placeholder="Prenom" required>
    </div>
    <br>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="type" placeholder="Type" required>
    </div>
    <br>
    <div class="input-group">
        <input class="form-control" [(ngModel)]="code_valide" placeholder="Code valide" required>
    </div>
    <br>
    <div class="input-group">
        <input class="form-control" [(ngModel)]="nb_heurs" placeholder="Nombre heure" required>
    </div>
    <br>

  <button class="btn btn-primary"  type="submit" (click)="ajouter()">Ajouter Candidats</button>
</div>

<input type="text" class="form-control" (keyup)="search($event.target.value)"  placeholder="Search">
<br>
<table class="table" style="width : 90%">
  <tr>
    <th>
     <a (click)="sort()"> Nom </a>
    </th>
    <th>
      Prenom
    </th>
    <th>
        Type
    </th>
    <th>
        Code valide
    </th>
    <th>
        Nombre heure
    </th>
    <th>
      Actions 
    </th>
  </tr>
  <tr *ngFor="let user of users ; let i = index;" >
    <td>{{user.nom}}</td>
    <td>{{user.prenom}}</td>
    <td>{{user.type}}</td>
    <td>{{user.code_valide}}</td>
    <td>{{user.nb_heurs}}</td>
    <td>
      <button class="btn btn-warning"     [routerLink]="['/admin/usersedit',user.id]">Editer</button>
      <button class="btn btn-danger" (click)="delete(user)">Supprimer</button>
    </td>
  </tr>

 

</table>
<!-- Model  data-toggle="modal" data-target="#e123" -->
